
header, aside, section, footer,{
  display: block;
  }

body {
  background-image: url("http://www.planwallpaper.com/static/images/Light-Wood-Background-Wallpaper.jpg");
  }

header {
  background-color: #49250B;
  width: 100%;
}

a{
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  color: #CCC86A;
  padding-left: 40px;
  margin-bottom: 10px;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 90px;
  color: #BAF796;
  padding-left: 60px;
  margin: 0;
  padding-top: 20px;
}

h2{
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  color: #CCC86A;
  padding-left: 60px;
  }

table {
    border-spacing: 0.2rem;
    align-content: center;
  }

td, th {
  border: 2px solid #49250B;
  padding: 0.6rem;
  text-align: center;
}

th{
  color: #49250B;
  font-family: 'Rajdhani', sans-serif;
  font-size: 21px;
  font-weight: 2px;
  background-color: #ffffe6;
}

td{
  color: #49250B;
  font-family: 'Rajdhani', sans-serif;
  font-size: 16px;
  font-weight: 2px;
  background-color: #ffffe6;
}

tr:hover{
  background-color: #CCC86A;
}
input{
    box-sizing: border-box;
    border: 2px solid #49250B;
    border-radius: 4px;
}
#fish{
  float: left;
  margin: 4%;
  margin-left: 20%;
  border: 2px solid #49250B;
}

#sal{
  float: right;
  width: 40%;
  margin: 2%;
}

#seattle{
  margin: 3%;
  margin-top: 5%;
  max-height: 400px;
  max-width: 700px;
  border: 3px solid #49250B;
}

#cookieCutter{
  margin-left: 3%;
  display: inline;
  border: 3px solid #49250B;
  height: 276px;
}

#fishCookie{
  margin-left: 3%;
  display: inline;
  border: 3px solid #49250B;
  height: 276px;
}

#family{
  margin: 3%;
  margin-top: 5%;
  margin-left: 0;
  max-height: 400px;
  max-width: 475px;
  border: 3px solid #49250B;
}

#shirt{
  height: 275px;
  width: 240px;
  margin-left: 3%;
  border: 3px solid #49250B;
}
aside{
  float:right;
}
