
header, aside, section, footer,{
  display: block;
  }

body {
  /*background-image: url("http://www.planwallpaper.com/static/images/Light-Wood-Background-Wallpaper.jpg");*/
  }

header {
  background-color: #49250B
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 90px;
  color: #BAF796;
  padding-left: 60px;
  margin: 0;
  padding-top: 20px;
}

h2{
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  color: #CCC86A;
   padding-left: 60px;
  }

#more{
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  color: #CCC86A;
  padding-left: 70px;
  padding-bottom: 30px;
}

#seattle{
  padding-left: 50px;
  max-height: 400px;
  max-width: 700px;
}

#logo{
  float: right;
  width: 30px;
  }
