
header, aside, section, footer,{
display: block;
}
.body {
  background:
}
header {
  background-color: #49250B
  height: 60px:
}

#top{
font-family: 'Lobster', cursive;
width: 90px;
color: #BAF796;
}

#top2{
font-family: 'Rajdhani', sans-serif;
width: 30px
color: #CCC86A;
}


#id logo{
image:url(https://github.com/codefellows/seattle-201d25/blob/master/class-09-css_wireframe_part_1/lab/assets/chinook.jpg);
width: 700px
height
}

#id{
table-layout: auto;
width: 75%;
border: 1px solid red;
}


.fineprint {
font-family: 'Balthazar', serif;
}
